
  <div id="save_concluded_pool" 
				<% if  session["type_user"].to_s == $admin %>  
					 style="position: absolute; left: 320px; top: 50px; z-index:1;"
				<% else %>
						style="position: absolute; left: 300px; top: 50px; z-index:1;"
				<% end %>
>

<h2> Pool  is  concluded with the following results</h2> 
      
<table>
      <th>Local</th> <th>VS</th> <th>Visitor</th> <th>Winner</th>
      <% @table_matches.each do |match| %>
                
                <tr>
                    <td> <%= match.local %> </td>
                    <td> VS </td>
                    <td> <%= match.visitor %> </td>
                    <td> <%= match.result %> </td>
                </tr>
      <%end%>
  </table>  

  </div>   