<!-- 
ITESM CEM, December 1, 2009.
Ruby Source File
Activity: Soccer Pool
Authors:
967171 Maricela Obeso
466044 Miguel Ramirez 
-->

<div id="closing_pool" 
				<% if  session["type_user"].to_s == $admin %>  
					 style="position: absolute; left: 320px; top: 50px; z-index:1;"
				<% else %>
						style="position: absolute; left: 300px; top: 50px; z-index:1;"
				<% end %>
>
		
      <h2> The Pool  <%=h @pool_name%> is closed.</h2> 
      
</div>  