  
		<div id="generate_matches" 
				<% if  session["type_user"].to_s == $admin %>  
					 style="position: absolute; left: 320px; top: 50px; z-index:1;"
				<% else %>
						style="position: absolute; left: 300px; top: 50px; z-index:1;"
				<% end %>
		>	
		<% if @already_opened_pool.nil?%>
		
       <h2> Open Pool <%= h @pool_name %> </h2> 
       <% form_tag :action => 'draw' do %>
          <p>
            Please input the number of matches for the pool:
              <%= text_field_tag 'number' %>
          </p>
          <%= submit_tag 'Generate' %>
       <% end %>
     
		<% else %>
			<br />
			<br />
			<br />
			<h2 align = "center"><%= @already_opened_pool %></h2>
		<% end %>
       
    </div>