
<div id="result_show" 
				<% if  session["type_user"].to_s == $admin %>  
					 style="position: absolute; left: 320px; top: 50px; z-index:1;"
				<% else %>
						style="position: absolute; left: 300px; top: 50px; z-index:1;"
				<% end %>
>	

	<h2>Leader: </h2>
	
	<table id="matches_tables">
		<tr>
			<th>
				User
			</th>
			<% @pool_concluded.each do |pool| %>
			<th>
				<%=h pool.name %>
			</th>
			<% end%>
			<th>
				Total
			</th>
		</tr>
		
		<% @ren_user.each do |n| %>
  	<tr>
			<% n.each do |x| %>
  	  <td class="matches_table_td"><%=h x %></td>
 	 		<% end %>
 	 	</tr>
		<% end %>
		
	</table>

</div>
