
	<div id="generated_matches" 
				<% if  session["type_user"].to_s == $admin %>  
					 style="position: absolute; left: 320px; top: 50px; z-index:1;"
				<% else %>
						style="position: absolute; left: 300px; top: 50px; z-index:1;"
				<% end %>
	>
       
       <h2> Pool <%= h @pool_name%> is saved </h2> 
 
  <table>
    <tr>
			<th> Match # </th>
			<th> Local </th>
			<th> V.S. </th>
			<th> Visitor </th>
		</tr>
    <% i = 1%>
      <% @parametros.each_key do |key| %>
                <%if  key.include?("local") %>
                <tr>
                    <td class="matches_table_td"><%=h i %></td>
                    <td class="matches_table_td"> <%=h @parametros[key] %> </td>
                    <td class="matches_table_td">v.s.</td>
                    <td class="matches_table_td"> <%=h @parametros["visitor#{key[5..key.size-1]}"] %> </td>
                </tr>
                <% i = i + 1%>
                <%end%>
      <%end%>
  </table>    

  </div>