<html>
  <head>
      <title> Pool <%= h @pool_name %> </title>
  </head>
  
  <body>
  <div  id="generated_matches" style="position: absolute; left: 200px;">
       <h1> Pool <%= h @pool_name%> is saved </h1> 
       
      
  <table>
      <th>Local</th><th>Visitor</th>
      <% @parametros.each_key do |key| %>
                <%if  key.include?("local") %>
                <tr>
                    <td> <%= @parametros[key] %> </td>
                    <td> <%= @parametros["visitor#{key[5..key.size-1]}"] %> </td>
                </tr>
                <%end%>
         
      <%end%>
  </table>    


  </div>   
  </body>
</html>