<!-- 
ITESM CEM, December 1, 2009.
Ruby Source File
Activity: Soccer Pool
Authors:
967171 Maricela Obeso
466044 Miguel Ramirez 
-->

<h1>Welcome To Soccer Pool</h1>
 
<p>Please <%= link_to "log in", login_path %> to use the system, 
  or <%= link_to "sign up", signup_path %> for a new account.</p> 
