<h1>Soccer Pool</h1>

<div id="main_show" style="position: absolute; left: 150px;">
	<table id="matches_tables">
		<th>Tabla Matches</th>
		<tr>
			<td>
			</td>
		</tr>
	</table>
	<br />
		<table id="action_buttons" style="background: #FFFFFF; border: 0px">
		<tr>
			<td>
				<% form_tag '/pick/make_pick'  do %>
        	  <%= submit_tag 'Make a Pick' %>
    		<% end %>	
			</td>
			<td>
			</td>
			<td>
				<% form_tag '/results/show_results'  do %>
        	  <%= submit_tag 'show results' %>
    		<% end %>	
			</td>
		</tr>
	</table>
</div>

<div id="logout" style="position: absolute; top: 1px; right: 5px;">
      <p><%= link_to "Click here to logout", logout_path %></p>
</div>


